@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova Rg', sans-serif;
    width: 100%;
    overflow-x: hidden;
    background: #daebee;
}

svg {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

header {
    height: 50px;
    background: #fff;
    box-shadow: 0 6px 6px -4px rgba(0,0,0,0.1);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}

header .logo-container {
    text-align: center;
}

header .logo {
    display: inline-block;
    height: 50px;
    width: 140px;
    padding: 9px;
    transition: color 0.2s ease-in-out;
    color: #999;
    color: coral;
}

header .logo:hover, header .logo:focus, header .logo:active {
    color: aquamarine;
    color: #999;
}

header .logo svg #logo-path {
    fill: #bbb;
    transition: fill 0.2s ease-in-out;
}

header .logo:hover > svg #logo-path {
    fill: url(#SVGID_1_);
}

header .left-menu a, header .right-menu a {
    display: inline-block;
    vertical-align: middle;
    color: #999;
    margin-top: 13px;
    font-size: 1.6rem;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 0;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

header .left-menu a:hover, header .left-menu a:focus, header .left-menu a:active, header .right-menu a:hover, header .right-menu a:focus, header .right-menu a:active {
    color: coral;
    color: limegreen;
    color: #333;
}

header .right-menu {
    text-align: right;
}
header .right-menu a {
    margin-left: 20px;
    margin-right: 0;
}



.ham-menu-icon {
    font-size: 2.2rem;
    color: #aaa;
    background: transparent;
    border: none;
    outline: 0;
    position: fixed;
    top: 10px;
    right: 14px;
    z-index: 20;
}
.mobile-menu-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 12;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.mobile-menu-container {
    min-width: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mobile-menu {
    list-style: none;
    text-align: center;
    overflow: auto;
    max-height: 100vh;
}
.mobile-menu li {
    /*margin-top: 20px;*/
    border-bottom: 1px solid #ccc;
}
.mobile-menu li a {
    display: inline-block;
    color: #999;
    font-size: 1.8rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    padding: 20px 20px;
}
.mobile-menu li a:hover, .mobile-menu li a:focus, .mobile-menu li a:active {
    color: limegreen;
    color: #333;
}



.palettes-wrapper {
    text-align: center;
    margin: 50px auto;
    /*margin-top: 50px;*/
    font-size: 0;
}
.palettes-wrapper:after {
  content: '';
  display: block;
  clear: both;
}

.palette-container {
    display: inline-block;
    margin: 25px;
    width: 160px;
    padding: 12px;
    background: #fff;
    box-shadow: 0 4px 8px -4px rgba(0,0,0,0.3);
    border-radius: 2px;
    font-size: 0;
}
.palette-container.single-palette {
    /*transform: scale(1.1);*/
    /*margin-top: 50px;*/
}
/*.palette-container.single-palette {
    display: block;
    margin:  50px auto;
    margin-top: 75px;
}*/

.palette-container .color {
    height: 80px;
    text-align: center;
    position: relative;
}

.palette-container .color a {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.palette-container .color:hover > .hex-code {
    opacity: 1;
}

.palette-container .color .hex-code {
    background: #aaa;
    background: rgba(0,0,0,0.2);
    color: #fff;
    display: inline-block;
    padding: 1px 3px 1px 4px;
    border-radius: 2px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    /*font-variant-ligatures: none;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    text-transform: uppercase;
}

.palette-container .like-btn, .palette-container .dwnld-btn, .palette-container .share-btn {
    display: block;
    text-align: center;
    width: 100%;
    background: transparent;
    font-size: 1.8rem;
    color: #bbb;
    border: none;
    margin-top: 12px;
    box-shadow: none;
    outline: 0;
    /*transition: color 0.2s ease-in-out;*/
}
.palette-container .like-btn:hover, .palette-container .dwnld-btn:hover, .palette-container .share-btn:hover {
    color: #888;
}
.palette-container .like-btn:active, .palette-container .dwnld-btn:active, .palette-container .share-btn:active  {
    color: #333;
}
.palette-container .like-btn.liked {
    color: salmon;
}
.palette-container .like-btn.liked:hover {
    color: #ee5666;
}
.palette-container .like-btn.liked:active {
    color: #bb5666;
}

.palette-container .share-btn a {
    color: #bbb;
    display: block;
}
.palette-container .share-btn a:hover {
    color: #999;
}
.palette-container .share-btn a:active {
    color: #333;
}

.palette-container .like-btn, .palette-container .dwnld-btn {
    display: inline-block;
    padding: 0 5px;
}
.palette-container .like-btn {
    width: 70%;
    text-align: left;
}
.palette-container .dwnld-btn {
    width: 30%;
    text-align: right;
}


.loader {
    border-top: 6px solid coral;
    border-radius: 100000px;
    width: 40px;
    height: 40px;
    display: block;
    margin: 20px auto 40px auto;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    animation: rotation 0.5s linear infinite;
    clear: both;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.page-hdng {
    font-size: 3rem;
    color: #999;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    font-weight: normal;
}



.color-input {
    background: #fff;
    display: block;
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 0;
    border-width: 0;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    box-shadow: none;
}

.addMoreColor {
    font-size: 2.2rem;
    /*width: 34px;
    height: 34px;*/
    /*padding: 2px;*/
    margin-bottom: 10px;
    padding: 4px 12px 3px 12px;
    line-height: 1;
    background: #fff;
    color: #aaa;
    border: none;
    /*border: 1px solid #999;*/
    border-radius: 100000px;
    outline: 0;
    transition: color 0.2s ease-in-out;
    box-shadow: 0 3px 5px -2px rgba(0,0,0,0.2);
}
.addMoreColor:hover, .addMoreColor:focus {
    color: #999;
}
.addMoreColor:active {
    font-size: 2rem;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.2);
    color: #666;
    transition: none;
}


.palette-submit {
    display: inline-block;
    background: #fff;
    color: coral;
    color: limegreen;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 1.6rem;
    border: none;
    box-shadow: none;
    outline: 0;
    box-shadow: 0 3px 4px -2px rgba(0,0,0,0.2);
}
.palette-submit:active {
    box-shadow: 0 2px 4px -2px rgba(0,0,0,0.2);
    font-size: 1.5rem;
}

.hidden {
    display: none;
}
.bold {
    color: #222 !important;
}

.status-text {
    text-align: center;
    color: coral;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 20px;
}

.submit-status-text {
    font-size: 2.5rem;
    text-align: center;
}




.abt-logo-container {
    max-width: 300px;
    margin: 20px auto;
    margin-top: 80px;
    padding: 20px;
}
.abt-logo-container svg #logo-path {
    fill: #999;
}

.abt-text {
    font-size: 1.6rem;
    text-align: center;
    display: block;
    color: #666;
    margin: 0 auto;
    max-width: 420px;
}

.sm-share-links {
    text-align: center;
    margin: 0 auto;
    margin-top: -40px;
}
.sm-share-links div {
    display: inline-block;
    vertical-align: top !important;
    margin: 0;
}
