{% extends "layout.html" %}

{% block title %}
    Favourites - Palettro
{% endblock %}

{% block main %}
    {% for palette in palettes %}
    <!--<div id="{{ palette.id }}" class="palette-container">
        <div style="background-color: {{ palette.color_1 }};" class="color"><p class="hex-code">{{ palette.color_1 }}</p></div>
        <div style="background-color: {{ palette.color_2 }};" class="color"><p class="hex-code">{{ palette.color_2 }}</p></div>
        <div style="background-color: {{ palette.color_3 }};" class="color"><p class="hex-code">{{ palette.color_3 }}</p></div>
        <div style="background-color: {{ palette.color_4 }};" class="color"><p class="hex-code">{{ palette.color_4 }}</p></div>
        <button class="like-btn" data-id="{{ palette.id }}">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span>{{ palette.hearts }}</span>
        </button>
    </div>-->
    {% endfor %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
    $('.favourites').addClass('bold');
    function allStorage() {
        var values = [],
            keys = Object.keys(localStorage),
            i = keys.length;
        while ( i-- ) {
            values.push( localStorage.getItem(keys[i]) );
        }
        return values;
    }
    function checkLikedPalettes() {
        var likeBtns = $('.like-btn');
        likeBtns.each(function () {
            var thisBtn = $(this);
            var id = thisBtn.attr('data-id');
            if (localStorage.getItem(id)) {
                if (!thisBtn.hasClass('liked')) {
                    thisBtn.addClass('liked');
                }
            }
        });
    }
    checkLikedPalettes();
    
    $( ".palettes-wrapper" ).on( "click", ".like-btn", function() {
        var thisPalette = $(this);
        var id = thisPalette.attr('data-id');
        if (!localStorage.getItem(id)) {
            $.get('/favourites', {
                id: id
            })
            .done(function(data) {
                if (data.length == 0) {
                    console.log("Couldn't register like on the clicked palette.")
                } else {
                    console.log('liked');
                    localStorage.setItem(id, id);
                    if (!thisPalette.hasClass('liked')) {
                        thisPalette.addClass('liked');
                    }
                    thisPalette.children('span').html(data[0].hearts);
                    $('.favs').html('( ' + allStorage().length + ' )');
                }
            })
            .fail(function() {
                console.log("ERROR: Couldn't set like.");
            });
        } else if (localStorage.getItem(id)) {
            $.get('/favourites', {
                idd: id
            })
            .done(function(data) {
                if (data.length == 0) {
                    console.log("Couldn't register unlike on the clicked palette.")
                } else {
                    console.log('liked');
                    localStorage.removeItem(id, id);
                    if (thisPalette.hasClass('liked')) {
                        thisPalette.removeClass('liked');
                    }
                    thisPalette.children('span').html(data[0].hearts);
                    $('.favs').html('( ' + allStorage().length + ' )');
                }
            })
            .fail(function() {
                console.log("ERROR: Couldn't set unlike.");
            });
        }
    });
    
    var favourites = allStorage();
    var allPalettesLoaded = false;
    for (var i = 0; i < favourites.length; i++) {
        $.get('/favourites', {
            idf: favourites[i]
        })
        .done(function(data) {
            if (data.length == 0) {
                console.log("No more palettes left.");
                allPalettesLoaded = true;
            } else {
                var dataLen = data.length;
                for (var i = 0; i < dataLen; i++) {
                    var palette = $('<div></div>');
                    
                    palette.attr('id', data[i].id);
                    palette.attr('class', "palette-container");
                    
                    palette.html('<div style="background-color:' + data[i].color_1 + ';" class="color"><p class="hex-code">' + data[i].color_1 + '</p></div>        <div style="background-color:' + data[i].color_2 + ';" class="color"><p class="hex-code">' + data[i].color_2 + '</p></div>        <div style="background-color:' + data[i].color_3 + ';" class="color"><p class="hex-code">' + data[i].color_3 + '</p></div>        <div style="background-color:' + data[i].color_4 + ';" class="color"><p class="hex-code">' + data[i].color_4 + '</p></div><button class="like-btn" data-id="' + data[i].id + '"><i class="fa fa-heart" aria-hidden="true"></i> <span>' + data[i].hearts + '</span></button>');

                    $('.palettes-wrapper').append(palette);

                    checkLikedPalettes();
                }
            }
        })
        .fail(function() {
            console.log("ERROR: Couldn't load palettes from server.");
        });
    }
    });
</script>
{% endblock %}
