{% extends "layout.html" %}

{% block title %}
    Submission - Palettro
{% endblock %}

{% block main %}
    {% if success == True %}
    <p class="submit-status-text" style="color: limegreen">{{ status }}</p>
    <div id="{{ palette.id }}" class="palette-container">
        {% if palette.color_1 != 0 %}
        <div style="background-color: {{ palette.color_1 }};" class="color"><p class="hex-code">{{ palette.color_1 }}</p></div>
        {% endif %}
        {% if palette.color_2 != 0 %}
        <div style="background-color: {{ palette.color_2 }};" class="color"><p class="hex-code">{{ palette.color_2 }}</p></div>
        {% endif %}
        {% if palette.color_3 != 0 %}
        <div style="background-color: {{ palette.color_3 }};" class="color"><p class="hex-code">{{ palette.color_3 }}</p></div>
        {% endif %}
        {% if palette.color_4 != 0 %}
        <div style="background-color: {{ palette.color_4 }};" class="color"><p class="hex-code">{{ palette.color_4 }}</p></div>
        {% endif %}
        {% if palette.color_5 != 0 %}
        <div style="background-color: {{ palette.color_5 }};" class="color"><p class="hex-code">{{ palette.color_5 }}</p></div>
        {% endif %}
        {% if palette.color_6 != 0 %}
        <div style="background-color: {{ palette.color_6 }};" class="color"><p class="hex-code">{{ palette.color_5 }}</p></div>
        {% endif %}
        {% if palette.color_7 != 0 %}
        <div style="background-color: {{ palette.color_7 }};" class="color"><p class="hex-code">{{ palette.color_5 }}</p></div>
        {% endif %}
        {% if palette.color_8 != 0 %}
        <div style="background-color: {{ palette.color_8 }};" class="color"><p class="hex-code">{{ palette.color_8 }}</p></div>
        {% endif %}
        <button class="dwnld-btn" data-id="{{ palette.id }}">
            <i class="fa fa-download" aria-hidden="true"></i>
        </button>
    </div>
    {% endif %}
    {% if success == False %}
    <p class="submit-status-text" style="color: coral">{{ status }}</p>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $(".palettes-wrapper").on("click", ".dwnld-btn", function () {
            var id = $(this).attr('data-id');
            var paletteContainer = $('#' + id);
            var pdfContainer = $('<div id="' + id + '" class="palette-container"></div>');
            pdfContainer.html(paletteContainer.html());
            pdfContainer.children('.like-btn').remove();
            pdfContainer.children('.dwnld-btn').remove();
            pdfContainer.children('.share-btn').remove();
            pdfContainer.find('p').css('opacity', '1');
            pdfContainer.css('margin-top', '800px');
            $('body').append(pdfContainer);
            var cache_width = pdfContainer.width();
            var a4 = [595.28, 841.89];

            createPDF();

            //create pdf
            function createPDF() {
                getCanvas().then(function (canvas) {
                    var
                        img = canvas.toDataURL("image/png"),
                        doc = new jsPDF({
                            unit: 'px',
                            format: 'a4'
                        });
                    doc.addImage(img, 'JPEG', 20, 20);
                    doc.save(id + '.pdf');
                    pdfContainer.width(cache_width);
                    pdfContainer.remove();
                });
            }
            
            //get canvas
            function getCanvas() {
                pdfContainer.width((a4[0] * 1.33333) - 92).css('max-width', 'none');
                return html2canvas(pdfContainer, {
                    imageTimeout: 2000,
                    removeContainer: true
                });
            }
        });
    });
</script>
{% endblock %}
